/* YourComponent.css */
body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to right, #3f3f3f 0%, #242424 100%);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 100px; 
  font-size: 80px;
  font-weight: bold;
}

footer{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 100px; 
  font-size: 80px;
  font-weight: bold;
}
image{
  width: 100%;
  max-height: fit-content;
  object-fit: cover;
}
card{

}
